# Package Files
*.jar
*.war
*.ear

# VSCode
.vscode
!site/.vscode

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Inclusions
!lib/**

# Compiled Files
*.class
bin/
build/
/bin1/
java/build/**

# Site
site/**

# IOT fichiers de configuration/données
iot/python/*
!iot/python/main.py

# Faker
vendor/*
composer.lock
composer.json