div.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 330px);
    padding: 20px;
}

div.content a.categoriepere {
    font-size: 1rem;
    text-decoration: none;
    color: #00000080;
}

div.content h1 {
    font-size: 2rem;
}

div.articles {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

a.article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    border: 3px solid var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
}

a.article img {
    width: 150px;
    height: 150px;
}

/* A REFAIRE */

.product-container {
    text-align: center;
    margin-bottom: 20px;
    width: 250px; 
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: relative;
    transition: box-shadow 0.3s ease; /* Ajout */
}

.product-container:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Ajout */
}

.product-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.product-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    margin-bottom: 10px;
}

.product-price {
    color: #e44d26;
    font-weight: bold;
}

.product-container + .product-container {
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .products {
        flex-direction: column;
        align-items: center;
    }

    .product-container {
        width: 100%;
        margin-left: 0;
    }
}   
/* Styles pour les liens des produits */

.product-link {
    text-decoration: none; 
    color: #333; 
    position: relative; 
}

.product-link:hover {
    color: #e44d26; 
}

.product-link::before {
    content: ""; 
    position: absolute;
    bottom: 6.5%; 
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: #e44d26; 
    transform: scaleX(0); 
    transform-origin: right; 
    transition: transform 0.3s ease; 
}

.product-link:hover::before {
    transform: scaleX(1); 
    transform-origin: left; 
}
