form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100% - 340px);
    padding: 20px;
}

form h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
}

form input {
    border-radius: 10px;
    border: 2px solid #757575;
    width: 100%;
    max-width: 200px;
    padding: 10px;
    color: #000000;
    margin-bottom: 15px;
}

form input:focus {
    border: 2px solid var(--secondary-color);
    outline: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

form input:invalid {
    color: var(--tertiary-color);
}

form button[type="submit"] {
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: var(--primary-color);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

form button[type="submit"]:disabled {
    background-color: #757575;
    cursor: not-allowed;
}

form a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 12px;
    margin-top: 5px;
}